@model Lombard.Domain.Entities.Job

@{
    int i = (int)ViewData["newCount"];
}
<div class="main-form-holder-inside-page-cont d-f">
    <div class="form-part-inside-form-holder d-f">

    </div>
    <div class="form-part-inside-form-holder d-f">
        <div class="label-row-inside-form-part d-f">
            <p class="f-s-18 f-w-bold">İş yeri haqqında məlumatlar</p>
        </div>
        <div class="input-row-inside-form-part d-g">
            <div class="input-holder-with-label d-f">
                <label asp-for="CompanyName" class="f-s-14 f-w-500">Şirkət adı</label>
                <input asp-for="CompanyName" name="CompanyName_@ViewData["newCount"]"
                required oninvalid="this.setCustomValidity('Şirkət adını yazın')"
                oninput="this.setCustomValidity('')"/>
            </div>

               <div class="input-holder-with-label d-f">
                <label asp-for="Position" class="f-s-14 f-w-500">Vəzifə</label>
                <input asp-for="Position" name="Position_@ViewData["newCount"]"
                required oninvalid="this.setCustomValidity('Vəzifə adını yazın')"
                oninput="this.setCustomValidity('')"/>
            </div>
         
            <div class="input-holder-with-label d-f">
                <label asp-for="Adress" class="f-s-14 f-w-500">Ünvan</label>
                <input asp-for="Adress" name="Adress_@ViewData["newCount"]" 
                oninvalid="this.setCustomValidity('Ünvanı yazın')"
                oninput="this.setCustomValidity('')"/>
            </div>
            <div class="input-holder-with-label d-f">
                <label asp-for="Salary" class="f-s-14 f-w-500">Aylıq gəlir</label>
                <input asp-for="Salary" name="DebtorSalary_@ViewData["newCount"]"
                oninvalid="this.setCustomValidity('Aylıq gəliri yazın')"
                oninput="this.setCustomValidity('')" />
            </div>
            <div class="input-holder-with-label d-f">
                <label asp-for="Experience" class="f-s-14 f-w-500">Təcrübə</label>
                <input asp-for="Experience" name="Experience_@ViewData["newCount"]"
                oninvalid="this.setCustomValidity('Təcrübəni yazın')" 
                oninput="this.setCustomValidity('')" />
            </div>
            <div class="input-holder-with-label d-f">
                <label asp-for="VOEN" class="f-s-14 f-w-500">VOEN</label>
                <input asp-for="VOEN" name="VOEN_@ViewData["newCount"]"
                oninvalid="this.setCustomValidity('VOEN i yazın')" 
                oninput="this.setCustomValidity('')" />
            </div>
        </div>
    </div>
 

    <!--Empty space div starts here-->
    <div class="empty-space-div-30"></div>
    <!--Empty space div ends here-->

    <div class="button-holder-inside-modal-form d-f">
        <a class="red-submit-button-inside-form t-d-n" onclick="RemoveThisAccount(this)">Sil</a>
    </div>
    <hr style="all: unset;width: 100%;border-bottom: 2px dashed gray;">
</div>

