@model Lombard.Domain.ViewModels.IndividualContractVM

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="main-form-holder-inside-page-cont d-f">
        <div class="label-holder-inside-form-holder d-f">
            <p class="f-s-24 f-w-bold"
            id="PageIndicator" data-page="İndividual müqavilə" data-indicator="İndividual müqavilə yaradırsınız"
            >İndividual müqavilə yarat</p>
        </div>

        <div class="form-part-inside-form-holder d-f">
            <div class="input-holder-with-label d-f">
                <label for="Debtors" class="f-s-14 f-w-500">Borcalan</label>
                <select id="Debtors" asp-for="DebtorId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Debtors"]"
                onchange="DebtorChange(this)">
                    <option selected disabled>Borcalanı Seçin</option>
                </select>
            </div>
        </div>

        <!-- Table holder starts here -->
        <div class="main-table-holder-inside-page-cont d-f">
            <div class="search-bar-holder-inside-table-holder">
                <div class="search-bar-div-inside-table-holder">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.1666 8.7085C20.1666 12.5055 17.0885 15.5835 13.2916 15.5835C11.7043 15.5835 10.2426 15.0455 9.07888 14.142C9.03505 14.2348 8.97479 14.3217 8.8981 14.3983L3.3981 19.8983C3.04012 20.2563 2.45972 20.2563 2.10174 19.8983C1.74376 19.5404 1.74376 18.96 2.10174 18.602L7.60174 13.102C7.67843 13.0253 7.76533 12.965 7.85806 12.9212C6.95453 11.7575 6.41659 10.2958 6.41659 8.7085C6.41659 4.91154 9.49463 1.8335 13.2916 1.8335C17.0885 1.8335 20.1666 4.91154 20.1666 8.7085ZM18.3333 8.7085C18.3333 5.92406 16.076 3.66683 13.2916 3.66683C10.5071 3.66683 8.24992 5.92406 8.24992 8.7085C8.24992 11.4929 10.5071 13.7502 13.2916 13.7502C16.076 13.7502 18.3333 11.4929 18.3333 8.7085Z" fill="#C4C8D4"/>
                    </svg>                            
                    <input class="f-s-14" type="text" name="search_inside_table" id="search_inside_table" placeholder="Axtar">
                </div>
            </div>
            <div class="table-inside-table-holder" id="MainActsTable">
                <table>
                    <thead>
                        <tr class="table-row-inside-table">
                            <th class="background-gray-th-inside-table">№</th>
                            <th>
                                <div class="d-f">
                                    Seç
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9"/>
                                    </svg> 
                                </div>                                 
                            </th>
                            <th onclick="sortTable(2)">
                                <div class="d-f">
                                    Aktın adı
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9"/>
                                    </svg> 
                                </div>                                 
                            </th>
                            <th onclick="sortTable(3)">
                                <div class="d-f">
                                    Bağlanma tarixi
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9"/>
                                    </svg> 
                                </div>                                 
                            </th>
                            <th>
                                <div class="d-f">
                                    Detallara bax
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.67085 4.83764C3.44305 5.06545 3.44305 5.43479 3.67085 5.6626C3.89866 5.89041 4.26801 5.89041 4.49581 5.6626L7 3.15841L9.50419 5.6626C9.73199 5.89041 10.1013 5.89041 10.3291 5.6626C10.557 5.4348 10.557 5.06545 10.3291 4.83764L7.41248 1.92098C7.30308 1.81158 7.15471 1.75012 7 1.75012C6.84529 1.75012 6.69692 1.81158 6.58752 1.92098L3.67085 4.83764Z" fill="#8992A9"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3291 9.16256C10.557 8.93475 10.557 8.56541 10.3291 8.3376C10.1013 8.1098 9.73199 8.1098 9.50419 8.3376L7 10.8418L4.49581 8.3376C4.26801 8.1098 3.89866 8.1098 3.67085 8.3376C3.44305 8.56541 3.44305 8.93476 3.67085 9.16256L6.58752 12.0792C6.81533 12.307 7.18467 12.307 7.41248 12.0792L10.3291 9.16256Z" fill="#8992A9"/>
                                    </svg> 
                                </div>                                 
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Table holder ends here -->


        <div class="form-part-inside-form-holder d-f">
            <div class="label-row-inside-form-part d-f">
                <p class="f-s-18 f-w-bold">Müştəri</p>
            </div>
            <div class="input-row-inside-form-part d-g">
                <div class="input-holder-with-label d-f">
                    <label  class="f-s-14 f-w-500">Adı, Soyadı , Ata adı</label>
                    <input  type="text" id="DebtorFullname"
                    readonly value="">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IndividualContract.AccountNumber" class="f-s-14 f-w-500">Hesab nömrəsi</label>
                    <input asp-for="IndividualContract.AccountNumber" type="text" id="DebtorAccountNumber"
                    readonly>
                </div>
            </div>
        </div>

        <div class="form-part-inside-form-holder d-f">
            <div class="label-row-inside-form-part d-f">
                <p class="f-s-18 f-w-bold">Müqavilə məlumatları</p>
            </div>
            <div class="input-row-inside-form-part d-g">
                <div class="input-holder-with-label d-f">
                    <label asp-for="IndividualContract.ContractNo" class="f-s-14 f-w-500">Müqavilənin nömrəsi</label>
                    <input asp-for="IndividualContract.ContractNo" type="text" id="IndividualContract.ContractNo" required
                           oninvalid="this.setCustomValidity('Müqavilənin adını yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IndividualContract.Currency" class="f-s-14 f-w-500">Valyuta</label>
                    <select asp-for="IndividualContract.Currency" class="form-control">
                        <option>AZN</option>
                         <option>USD</option>
                       </select>
                </div>
            </div>
        </div>

        <div class="form-part-inside-form-holder d-f">
            <div class="label-row-inside-form-part d-f">
                <p class="f-s-18 f-w-bold">Kredit məlumatları</p>
            </div>
            <div class="input-row-inside-form-part d-g">

                <div class="input-holder-with-label d-f">
                    <label asp-for="IndividualContract.ProductId" class="f-s-14 f-w-500">Məhsul adı</label>
                    <select asp-for="IndividualContract.ProductId"
                    asp-items="(IEnumerable<SelectListItem>)@ViewData["Products"]"></select>
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IndividualContract.GivingTime" class="f-s-14 f-w-500">Verilmə tarixi</label>
                    <input asp-for="IndividualContract.GivingTime" type="date" id="IndividualContract.GivingTime" required
                           oninvalid="this.setCustomValidity('Verilmə tarixini yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IndividualContract.Period" class="f-s-14 f-w-500">Müddət</label>
                    <input asp-for="IndividualContract.Period" type="text" id="IndividualContract.Period" required
                           oninvalid="this.setCustomValidity('Müddəti yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IndividualContract.PaymentDate" class="f-s-14 f-w-500">Ödəniş tarixi</label>
                    <input asp-for="IndividualContract.PaymentDate" type="text" id="IndividualContract.PaymentDate" required
                           oninvalid="this.setCustomValidity('Ödəniş tarixini yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IndividualContract.DiscountedMonths" class="f-s-14 f-w-500">Güzəşt ayları</label>
                    <input asp-for="IndividualContract.DiscountedMonths" type="text" id="IndividualContract.DiscountedMonths" required
                           oninvalid="this.setCustomValidity('Güzəşt aylarını yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IndividualContract.Comission" class="f-s-14 f-w-500">Komissiya</label>
                    <input asp-for="IndividualContract.Comission" type="text" id="IndividualContract.Comission" required
                           oninvalid="this.setCustomValidity('Komissiyanı yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IndividualContract.Percentage" class="f-s-14 f-w-500">Faiz dərəcəsi</label>
                    <input asp-for="IndividualContract.Percentage" type="text" id="IndividualContract.Percentage" required
                           oninvalid="this.setCustomValidity('Faiz dərəcəsini yazın')"
                           oninput="this.setCustomValidity('')">
                </div>

                <div class="input-holder-with-label d-f">
                    <label asp-for="IndividualContract.FIFD" class="f-s-14 f-w-500">FIFD</label>
                    <input asp-for="IndividualContract.FIFD" type="text" id="IndividualContract.FIFD" required
                           oninvalid="this.setCustomValidity('Cəriməni yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IndividualContract.CreditAmount" class="f-s-14 f-w-500">Kreditin məbləği</label>
                    <input asp-for="IndividualContract.CreditAmount" type="text" id="IndividualContract.CreditAmount" required
                           oninvalid="this.setCustomValidity('Kreditin məbləğini yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
            </div>
        </div>
        <div class="form-part-inside-form-holder d-f">
            <div class="input-holder-with-label d-f">
                <label for="GuaranterId" class="f-s-14 f-w-500">Zamin</label>
                <select asp-for="GuaranterId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Debtors"]">
                    <option selected disabled>Seçin</option>
                </select>
            </div>
        </div>

        <!--Empty space div starts here-->
        <div class="empty-space-div-30"></div>
        <!--Empty space div ends here-->
    </div>


    <div class="button-holder-inside-modal-form d-f">
        <a asp-action="Index" class="red-submit-button-inside-form t-d-n">Ləğv et</a>
        <button type="submit" class="green-submit-button-inside-form">Təsdiqlə</button>
    </div>
</form>

<!--Empty space div starts here-->
<div class="empty-space-div-50"></div>
<!--Empty space div ends here-->


<script>
    function DebtorChange(act_select) {
        var parent_form = act_select.parentElement.parentElement.parentElement;
        var Debtor_name_input = parent_form.querySelector('#DebtorFullname');
        var Debtor_account_number_input = parent_form.querySelector('#DebtorAccountNumber');
        var table_body = document.querySelector('#MainActsTable tbody');

        console.clear();
        $('#MainActsTable tbody tr').detach();

        $.ajax({
          url: '/IndividualContract/GetAllMainActsByDebtorId/?DebtorId=' + act_select.value,
          type: 'GET',
          dataType: 'json', 
          success: function (result) {

            console.log(result);
            if (result.length > 0) {
                var includes_new_option = false;
                var options = '';  
                for (var i = 0; i < result.length; i++) {
                    
                    var new_act_string = result[i].text.split("%" , 2);
                    var act_name = new_act_string[0];
                    var act_date = new_act_string[1].split(" " , 1);

                    options += `
                    <tr class="table-row-inside-table"> 
                        <td class="background-gray-th-inside-table table-row-count"></td>
                        <td><input name="Acts[]" id="` + result[i].value + `" value="` + result[i].value + `" type="checkbox"></td>
                        <td>` + act_name + `</td>
                        <td>` + act_date + `</td>
                        <td>

                            <a onclick="ToggleModal(this) ; CallSubActsToModal(this)" data-act-id="`+ result[i].value +`" data-modal="modal-for-subacts-`+result[i].value+`" class="elm-with-tooltip" data-tooltip-on-right="Aktlara baxmaq üçün klikləyin">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 3.00012C10.22 3.00012 8.47992 3.52796 6.99987 4.5169C5.51983 5.50583 4.36628 6.91144 3.68509 8.55597C3.0039 10.2005 2.82567 12.0101 3.17294 13.7559C3.5202 15.5018 4.37737 17.1054 5.63604 18.3641C6.89472 19.6228 8.49836 20.4799 10.2442 20.8272C11.99 21.1745 13.7996 20.9962 15.4442 20.315C17.0887 19.6339 18.4943 18.4803 19.4832 17.0003C20.4722 15.5202 21 13.7802 21 12.0001C20.9974 9.61397 20.0484 7.32628 18.3611 5.63901C16.6738 3.95174 14.3862 3.0027 12 3.00012ZM12 19.5001C10.5166 19.5001 9.0666 19.0603 7.83323 18.2361C6.59986 17.412 5.63857 16.2407 5.07091 14.8702C4.50325 13.4998 4.35473 11.9918 4.64411 10.5369C4.9335 9.08209 5.64781 7.74572 6.6967 6.69682C7.7456 5.64793 9.08197 4.93362 10.5368 4.64423C11.9917 4.35484 13.4997 4.50337 14.8701 5.07103C16.2406 5.63868 17.4119 6.59998 18.236 7.83335C19.0601 9.06671 19.5 10.5168 19.5 12.0001C19.4978 13.9886 18.7069 15.895 17.3009 17.301C15.8948 18.7071 13.9885 19.4979 12 19.5001ZM7.50001 11.2501C7.35167 11.2501 7.20666 11.2941 7.08333 11.3765C6.95999 11.4589 6.86386 11.5761 6.8071 11.7131C6.75033 11.8502 6.73548 12.001 6.76442 12.1464C6.79335 12.2919 6.86479 12.4256 6.96968 12.5305C7.07456 12.6353 7.2082 12.7068 7.35369 12.7357C7.49917 12.7647 7.64997 12.7498 7.78702 12.693C7.92406 12.6363 8.0412 12.5401 8.12361 12.4168C8.20602 12.2935 8.25001 12.1485 8.25001 12.0001C8.25001 11.8012 8.17099 11.6104 8.03033 11.4698C7.88968 11.3291 7.69892 11.2501 7.50001 11.2501ZM10.5 11.2501C10.3517 11.2501 10.2067 11.2941 10.0833 11.3765C9.95999 11.4589 9.86386 11.5761 9.8071 11.7131C9.75033 11.8502 9.73548 12.001 9.76442 12.1464C9.79336 12.2919 9.86479 12.4256 9.96968 12.5305C10.0746 12.6353 10.2082 12.7068 10.3537 12.7357C10.4992 12.7647 10.65 12.7498 10.787 12.693C10.9241 12.6363 11.0412 12.5401 11.1236 12.4168C11.206 12.2935 11.25 12.1485 11.25 12.0001C11.25 11.8012 11.171 11.6104 11.0303 11.4698C10.8897 11.3291 10.6989 11.2501 10.5 11.2501ZM13.5 11.2501C13.3517 11.2501 13.2067 11.2941 13.0833 11.3765C12.96 11.4589 12.8639 11.5761 12.8071 11.7131C12.7503 11.8502 12.7355 12.001 12.7644 12.1464C12.7934 12.2919 12.8648 12.4256 12.9697 12.5305C13.0746 12.6353 13.2082 12.7068 13.3537 12.7357C13.4992 12.7647 13.65 12.7498 13.787 12.693C13.9241 12.6363 14.0412 12.5401 14.1236 12.4168C14.206 12.2935 14.25 12.1485 14.25 12.0001C14.25 11.8012 14.171 11.6104 14.0303 11.4698C13.8897 11.3291 13.6989 11.2501 13.5 11.2501ZM16.5 11.2501C16.3517 11.2501 16.2067 11.2941 16.0833 11.3765C15.96 11.4589 15.8639 11.5761 15.8071 11.7131C15.7503 11.8502 15.7355 12.001 15.7644 12.1464C15.7934 12.2919 15.8648 12.4256 15.9697 12.5305C16.0746 12.6353 16.2082 12.7068 16.3537 12.7357C16.4992 12.7647 16.65 12.7498 16.787 12.693C16.9241 12.6363 17.0412 12.5401 17.1236 12.4168C17.206 12.2935 17.25 12.1485 17.25 12.0001C17.25 11.8012 17.171 11.6104 17.0303 11.4698C16.8897 11.3291 16.6989 11.2501 16.5 11.2501Z" fill="#3B72FF"></path>
                                </svg>
                            </a>

                            <div class="modal details-modal modal-for-subacts-`+result[i].value+`">
                                <div class="modal-header d-f">
                                    <div class="modal-close-button-div elm-with-tooltip" onclick="ToggleModal(this)" data-modal="modal-for-subacts-`+result[i].value+`" 
                                    data-tooltip="Modalı bağlamaq üçün klikləyin">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.9 2H9.10001C8.42001 2 7.46 2.4 6.98 2.88L2.88 6.98001C2.4 7.46001 2 8.42001 2 9.10001V14.9C2 15.58 2.4 16.54 2.88 17.02L6.98 21.12C7.46 21.6 8.42001 22 9.10001 22H14.9C15.58 22 16.54 21.6 17.02 21.12L21.12 17.02C21.6 16.54 22 15.58 22 14.9V9.10001C22 8.42001 21.6 7.46001 21.12 6.98001L17.02 2.88C16.54 2.4 15.58 2 14.9 2Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M8.5 15.5L15.5 8.5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M15.5 15.5L8.5 8.5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>                                
                                    </div>
                                </div>
                                <div class="modal-body d-f">
                                    <div class="label-holder-inside-modal d-f f-center">
                                        <p class="f-s-24 f-w-bold">`+ act_name +` - a bağlı digər aktlar</p>
                                    </div>

                                    <ul id="ul-list-for-sub-acts-`+result[i].value+`" class="ul-list-inside-modal d-f f-dir-col f-center align-center">
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    `; 
                    
                    if(table_body.textContent.includes(result[i].text)){
                        includes_new_option = true;
                    }
                }  
                if(!includes_new_option){
                    $('#MainActsTable tbody').append(options);
                }
            }
            
          }
        });

        $.ajax({
          url: '/IndividualContract/GetDebtorFullnameAndAccountNumber/?DebtorId=' + act_select.value,
          type: 'GET',
          dataType: 'json', 
          success: function (result) {
              var FullName = result.fullName;
              var AccounNumber = result.accounNumber;

              Debtor_name_input.value = FullName
              Debtor_account_number_input.value = AccounNumber
          }
        });
    }

    function CallSubActsToModal(DetailButtonForSubActs){
        var act_id = DetailButtonForSubActs.getAttribute("data-act-id");
        var ul_id_name = `#ul-list-for-sub-acts-` + act_id;

        $.ajax({
          url: '/IndividualContract/GetAllSubActsByMainActId/?actId=' + act_id,
          type: 'GET',
          dataType: 'json', 
          success: function (result) {

              console.log(result);

              // creating options array for subact results
                  if (result.length > 0) {   
                    var options = '';  
                    for (var i = 0; i < result.length; i++) {
                        if(result[i].text != ""){
                            options += 
                            `
                            <li class="f-s-18 f-w-500">`+ result[i].text +`</li>

                            `;
                        }
                    }
                    // appending rersult acts to exact ul list
                        if($(ul_id_name).children().length === 0){
                            $(ul_id_name).append(options);
                        }
                    // appending rersult acts to exact ul list
                  }
              // creating options array for subact results
          }
        });
    } 
    
    $("#Debtors").select2( {
	    placeholder: "Fiziki borcalanı seçin",
	    allowClear: false
	});
    $("#GuaranterId").select2( {
	    placeholder: "Zamini seçin",
	    allowClear: false
	});
</script>
