@model Lombard.Domain.Entities.IndividualDebtor

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="main-form-holder-inside-page-cont d-f">
        <div class="label-holder-inside-form-holder label-holder-with-add-svg d-f">
            <p class="f-s-24 f-w-bold"
               id="PageIndicator" data-page="Fiziki borcalan" data-indicator="Yeni fiziki borcalan yaradırsınız">
                Yeni fiziki borcalan yarat
            </p>

            <button type="button" class="green-owner-button-inside-form">Sahibkar </button>
            <input asp-for="IsOwner" type="hidden" id="IsOwner" value="">
        </div>


        <input type="hidden" name="bankCount" id="bankCount" value="" />
        <input type="hidden" name="memberCount" id="memberCount" value="" />
        <input type="hidden" name="jobCount" id="jobCount" value="" />
        
        <div class="form-part-inside-form-holder d-f">
            <div class="label-row-inside-form-part d-f">
                <p class="f-s-18 f-w-bold">Şəxsi məlumatlar</p>
            </div>
            <div class="input-row-inside-form-part d-g">
                <div class="input-holder-with-label d-f">
                    <label asp-for="Name" class="f-s-14 f-w-500">Adı</label>
                    <input asp-for="Name" type="text" id="Name" required
                           oninvalid="this.setCustomValidity('Borcalanın adını yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="Surname" class="f-s-14 f-w-500">Soyadı</label>
                    <input asp-for="Surname" type="text" id="Surname" required
                           oninvalid="this.setCustomValidity('Borcalanın soyadını yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="Patronymic" class="f-s-14 f-w-500">Atasının adı</label>
                    <input asp-for="Patronymic" type="text" id="Patronymic" required
                           oninvalid="this.setCustomValidity('Borcalanın atasının adını yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="BirthDate" class="f-s-14 f-w-500">Doğum tarixi</label>
                    <input asp-for="BirthDate" type="date" id="BirthDate" required
                           oninvalid="this.setCustomValidity('Borcalanın doğum tarixini yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="BirthPlace" class="f-s-14 f-w-500">Doğulduğu yer</label>
                    <input asp-for="BirthPlace" type="text" id="BirthPlace" required
                           oninvalid="this.setCustomValidity('Borcalanın doğulduğu yeri yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="CurrentLivingAddress" class="f-s-14 f-w-500">Fatiki yaşayış ünvanı</label>
                    <input asp-for="CurrentLivingAddress" type="text" id="CurrentLivingAddress" required
                           oninvalid="this.setCustomValidity('Borcalanın vətəndaşlığını yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="RegisteredAddress" class="f-s-14 f-w-500">Qeydiyyat ünvanı</label>
                    <input asp-for="RegisteredAddress" type="text" id="RegisteredAddress" required
                           oninvalid="this.setCustomValidity('Borcalanın qeydiyyat ünvanını yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="Email" class="f-s-14 f-w-500">Email</label>
                    <input asp-for="Email" type="text" id="Email"
                           oninvalid="this.setCustomValidity('Email ünvanını yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="Gender" class="f-s-14 f-w-500">Cinsi</label>
                    <select asp-for="Gender" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["GenderTypes"]"></select>
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="MarialStatuses" class="f-s-14 f-w-500">Ailə vəziyyəti</label>
                    <select asp-for="MarialStatuses" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["MarialStatuses"]"></select>
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="Education" class="f-s-14 f-w-500">Təhsil</label>
                    <select asp-for="Education" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["EducationTypes"]"></select>
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="VOEN" id="voen_label" class="f-s-14 f-w-500 d-n">VOEN</label>
                    <input asp-for="VOEN" name="VOEN" type="hidden" id="VOEN" required
                           oninvalid="this.setCustomValidity('VOEN ünvanını yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
            </div>
        </div>

        <div class="form-part-inside-form-holder d-f">
            <div class="label-row-inside-form-part d-f">
                <p class="f-s-18 f-w-bold">Şəxsiyyət vəsiqəsi məlumatları</p>
            </div>
            <div class="input-row-inside-form-part d-g">
                <div class="input-holder-with-label d-f">
                    <label asp-for="IDFincode" class="f-s-14 f-w-500">Şəxsiyyət vəsiqəsi FİN kodu</label>
                    <input asp-for="IDFincode" type="text" id="IDFincode" required
                           oninvalid="this.setCustomValidity('Borcalanın şəxsiyyət vəsiqəsinin FİN kodunu yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IDSerialNumber" class="f-s-14 f-w-500">Şəxsiyyət vəsiqəsi seriya nömrəsi</label>
                    <input asp-for="IDSerialNumber" type="text" id="IDSerialNumber" required
                           oninvalid="this.setCustomValidity('Borcalanın şəxsiyyət vəsiqəsinin seriya nömrəsini yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IDOrganizationName" class="f-s-14 f-w-500">Vəsiqəni verən orqan</label>
                    <input asp-for="IDOrganizationName" type="text" id="IDOrganizationName">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IDGiveDate" class="f-s-14 f-w-500">Vəsiqənin verilmə tarixi </label>
                    <input asp-for="IDGiveDate" type="date" id="IDGiveDate">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="IDExpireDate" class="f-s-14 f-w-500">Vəsiqənin etbarlılıq müddəti</label>
                    <input asp-for="IDExpireDate" type="date" id="IDExpireDate" required
                           oninvalid="this.setCustomValidity('Vəsiqənin etbarlılıq müddətini yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="Citizenship" class="f-s-14 f-w-500">Vətəndaşlıq</label>
                    <input asp-for="Citizenship" type="text" id="Citizenship" required
                           oninvalid="this.setCustomValidity('Borcalanın vətəndaşlığını yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
            </div>
        </div>

        <div class="form-part-inside-form-holder d-f">
            <div class="label-row-inside-form-part d-f">
                <p class="f-s-18 f-w-bold">Əlaqə məlumatları</p>
            </div>
            <div class="input-row-four-col-inside-form-part d-g">
                <div class="input-holder-with-label d-f">
                    <label asp-for="MobileNumber" class="f-s-14 f-w-500">Mobil telefonu</label>
                    <input asp-for="MobileNumber" type="tel" id="MobileNumber" class="custom_phone_number" required
                           minlength="9" maxlength="14"
                           oninvalid="this.setCustomValidity('Borcalanın mobil telefonunu yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="MobileAdditional1" class="f-s-14 f-w-500">Mobil telefonu</label>
                    <input asp-for="MobileAdditional1" type="tel" id="MobileAdditional1" class="custom_phone_number" required
                           minlength="9" maxlength="14"
                           oninvalid="this.setCustomValidity('Borcalanın mobil telefonunu yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="MobileAdditional2" class="f-s-14 f-w-500">Mobil telefonu</label>
                    <input asp-for="MobileAdditional2" type="tel" id="MobileAdditional2" class="custom_phone_number" required
                           minlength="9" maxlength="14"
                           oninvalid="this.setCustomValidity('Borcalanın mobil telefonunu yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="MobileAdditional3" class="f-s-14 f-w-500">Mobil telefonu</label>
                    <input asp-for="MobileAdditional3" type="tel" id="MobileAdditional3" class="custom_phone_number" required
                           minlength="9" maxlength="14"
                           oninvalid="this.setCustomValidity('Borcalanın mobil telefonunu yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="Phone" class="f-s-14 f-w-500">Ev telefonu</label>
                    <input asp-for="Phone" type="tel" id="Phone" required
                           oninvalid="this.setCustomValidity('Borcalanın ev telefonunu yazın')"
                           oninput="this.setCustomValidity('')">
                </div>
            </div>

            <!--Empty space div starts here-->
            <div class="empty-space-div-30"></div>
            <!--Empty space div ends here-->

            <div class="input-row-four-col-inside-form-part d-g">
                <div class="input-holder-with-label d-f">
                    <label asp-for="MobileAdditional4" class="f-s-14 f-w-500">Əlavə mobil telefonu</label>
                    <input asp-for="MobileAdditional4" type="tel" id="MobileAdditional4" class="custom_phone_number"
                           minlength="9" maxlength="14">
                </div>
                <div class="input-holder-with-label d-f">
                    <label asp-for="PhoneAdditional" class="f-s-14 f-w-500">Əlavə ev telefon</label>
                    <input asp-for="PhoneAdditional" type="tel" id="PhoneAdditional">
                </div>
            </div>
        </div>

        <!--Empty space div starts here-->
        <div class="empty-space-div-30"></div>
        <!--Empty space div ends here-->
    </div>

    <div class="label-holder-inside-form-holder d-f">
        <p class="f-s-24 f-w-bold">İş yeri</p>
    </div>
    <div class="Debtor-job-details-form d-f f-dir-col"></div>
    <div class="elm-with-tooltip add-button-svg-holder" data-tooltip="İş yeri əlavə etmək üçün klikləyin">
        <a class="addButtonForJob">
            <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="68" height="68" rx="34" fill="#E3EBFF" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M34 23C27.925 23 23 27.925 23 34C23 40.075 27.925 45 34 45C40.075 45 45 40.075 45 34C45 27.925 40.075 23 34 23ZM35 38C35 38.2652 34.8946 38.5196 34.7071 38.7071C34.5196 38.8946 34.2652 39 34 39C33.7348 39 33.4804 38.8946 33.2929 38.7071C33.1054 38.5196 33 38.2652 33 38V35H30C29.7348 35 29.4804 34.8946 29.2929 34.7071C29.1054 34.5196 29 34.2652 29 34C29 33.7348 29.1054 33.4804 29.2929 33.2929C29.4804 33.1054 29.7348 33 30 33H33V30C33 29.7348 33.1054 29.4804 33.2929 29.2929C33.4804 29.1054 33.7348 29 34 29C34.2652 29 34.5196 29.1054 34.7071 29.2929C34.8946 29.4804 35 29.7348 35 30V33H38C38.2652 33 38.5196 33.1054 38.7071 33.2929C38.8946 33.4804 39 33.7348 39 34C39 34.2652 38.8946 34.5196 38.7071 34.7071C38.5196 34.8946 38.2652 35 38 35H35V38Z" fill="#3B72FF" />
            </svg>
        </a>
    </div>

    <div class="label-holder-inside-form-holder d-f">
        <p class="f-s-24 f-w-bold">Ailə üzvləri</p>
    </div>
    <div class="Debtor-Family-member-details d-f f-dir-col"></div>
    <div class="elm-with-tooltip add-button-svg-holder" data-tooltip="Ailə üzvü əlavə etmək üçün klikləyin">
        <a class="addButtonForFamilyMember">
            <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="68" height="68" rx="34" fill="#E3EBFF" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M34 23C27.925 23 23 27.925 23 34C23 40.075 27.925 45 34 45C40.075 45 45 40.075 45 34C45 27.925 40.075 23 34 23ZM35 38C35 38.2652 34.8946 38.5196 34.7071 38.7071C34.5196 38.8946 34.2652 39 34 39C33.7348 39 33.4804 38.8946 33.2929 38.7071C33.1054 38.5196 33 38.2652 33 38V35H30C29.7348 35 29.4804 34.8946 29.2929 34.7071C29.1054 34.5196 29 34.2652 29 34C29 33.7348 29.1054 33.4804 29.2929 33.2929C29.4804 33.1054 29.7348 33 30 33H33V30C33 29.7348 33.1054 29.4804 33.2929 29.2929C33.4804 29.1054 33.7348 29 34 29C34.2652 29 34.5196 29.1054 34.7071 29.2929C34.8946 29.4804 35 29.7348 35 30V33H38C38.2652 33 38.5196 33.1054 38.7071 33.2929C38.8946 33.4804 39 33.7348 39 34C39 34.2652 38.8946 34.5196 38.7071 34.7071C38.5196 34.8946 38.2652 35 38 35H35V38Z" fill="#3B72FF" />
            </svg>
        </a>
    </div>


    <div class="label-holder-inside-form-holder d-f">
        <p class="f-s-24 f-w-bold">Bank hesabları</p>
    </div>
    <div class="Debtor-Bank-account-details-form d-f f-dir-col"></div>
    <div class="elm-with-tooltip add-button-svg-holder" data-tooltip="Bank hesabı əlavə etmək üçün klikləyin">
        <a class="addButtonForBankAccount">
            <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="68" height="68" rx="34" fill="#E3EBFF" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M34 23C27.925 23 23 27.925 23 34C23 40.075 27.925 45 34 45C40.075 45 45 40.075 45 34C45 27.925 40.075 23 34 23ZM35 38C35 38.2652 34.8946 38.5196 34.7071 38.7071C34.5196 38.8946 34.2652 39 34 39C33.7348 39 33.4804 38.8946 33.2929 38.7071C33.1054 38.5196 33 38.2652 33 38V35H30C29.7348 35 29.4804 34.8946 29.2929 34.7071C29.1054 34.5196 29 34.2652 29 34C29 33.7348 29.1054 33.4804 29.2929 33.2929C29.4804 33.1054 29.7348 33 30 33H33V30C33 29.7348 33.1054 29.4804 33.2929 29.2929C33.4804 29.1054 33.7348 29 34 29C34.2652 29 34.5196 29.1054 34.7071 29.2929C34.8946 29.4804 35 29.7348 35 30V33H38C38.2652 33 38.5196 33.1054 38.7071 33.2929C38.8946 33.4804 39 33.7348 39 34C39 34.2652 38.8946 34.5196 38.7071 34.7071C38.5196 34.8946 38.2652 35 38 35H35V38Z" fill="#3B72FF" />
            </svg>
        </a>
    </div>

    <div class="button-holder-inside-modal-form d-f">
        <a asp-action="Cancel" class="red-submit-button-inside-form t-d-n">Ləğv et</a>
        <button type="submit" asp-route-returnUrl="@ViewData["returnUrl"]" class="green-submit-button-inside-form">Təsdiqlə</button>
    </div>

    <!--Empty space div starts here-->
    <div class="empty-space-div-50"></div>
    <!--Empty space div ends here-->

</form>


<script>
    var owner_button = document.querySelector(".green-owner-button-inside-form");
    var voen_input = document.querySelector("#VOEN");
    var voen_label = document.querySelector("#voen_label");
    var IsOwner_input = document.querySelector("#IsOwner");

    owner_button.addEventListener("click", function()
    {
        if(owner_button.classList.contains("active-owner-button")){
            this.querySelector(".owner-svg-inside-owner-button").remove();
            this.classList.toggle("active-owner-button");
            voen_input.type = "hidden";
            IsOwner_input.value = "false";
            voen_label.classList.toggle("d-n");
        }else{
            this.classList.toggle("active-owner-button");
            this.insertAdjacentHTML("beforeend" , `
                <svg class="owner-svg-inside-owner-button" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M7.75 12L10.58 14.83L16.25 9.17004" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            `);
            voen_input.type = "text";
            IsOwner_input.value = "true";
            voen_label.classList.toggle("d-n");
        }
    });
</script>
